#profileLayout{
  width: 60%;
  margin-left: 20%;
  -webkit-box-shadow: 0px 9px 10px -5px rgba(92,91,92,0.5);
  -moz-box-shadow: 0px 9px 10px -5px rgba(92,91,92,0.5);
  box-shadow: 0px 9px 10px -5px rgba(92,91,92,0.5);
}
.ant-layout{
  background: #e4e6e8;
}
.ant-layout-header, .ant-layout-sider{
  background: transparent !important;
}
.ant-layout-content{
  text-align: left;
}
img{
  border-radius: 10%;
}
#profilePercent{
  width: 80%;
}
.profileWrongWords{
  margin-top: 1%;
}
.white{
  background: white;
}
.box{
  box-shadow: 0px 9px 10px -5px rgba(92,91,92,0.5);
  padding-right: 1%;
}
.colouredThird, .colouredSecond, .colouredFirst {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}
.wrongWord{
  color:white;
  width: 100%;
}
.colouredFirst{
  background: cornflowerblue;
}
.colouredSecond{
  background: mediumpurple;
}
.colouredThird{
  background: pink;
}
.profileWrongWordsBox{
  margin-bottom:1%;
}
.profileWrongWordsBox .lower{
  margin-bottom:2%;
}
.collapseButton{
  text-decoration: none;
  color:white;
}
.collapsible{
  text-align: center;
  color: white;
  font-weight: 600;
}
