<nz-layout id="profileLayout" *ngIf="authenticated">
  <nz-header>
    <h2>{{this.profile.name}}</h2>
  </nz-header>
  <nz-layout>
    <nz-sider>
      <img [src]="profile?.picture" alt="Avatar" (error)="setDefault()" *ngIf="!showDefaultImage" height="150" width="150">
      <nz-avatar [nzShape]="'square'" [nzIcon]="'user'" *ngIf="showDefaultImage" [nzSize]="150"></nz-avatar>
    </nz-sider>
    <nz-content>
      <div nz-row nzType="flex" nzJustify="center" *ngIf="overallPercent != null">
        <div nz-col nzSpan="24">
          <h3>Valesti vastamise üleüldine protsent:</h3>
        </div>
      </div>
      <div nz-row nzType="flex" nzJustify="center" *ngIf="overallPercent != null">
        <div nz-col nzSpan="24">
          <nz-progress class="profilePercent" [nzPercent]="overallPercent" [nzFormat]="oaprogressFormat"></nz-progress>
        </div>
      </div>
      <div nz-row nzType="flex" nzJustify="center" *ngIf="meaningPercent != null && grammarPercent != null">
        <div nz-col nzSpan="24">
          <h3>Valesti vastamise jaotatud protsent:</h3>
        </div>
      </div>
      <div nz-row nzType="flex" nzJustify="left" *ngIf="overallPercent != null">
        <div nz-col nzSpan="12">
          <nz-progress
            [nzFormat]="mprogressFormat"
            class="profilePercent"
            [nzPercent]="meaningPercent"
          ></nz-progress>
        </div>
      </div>
      <div nz-row nzType="flex" nzJustify="left" *ngIf="grammarPercent != null">
        <div nz-col nzSpan="12">
          <nz-progress
            [nzFormat]="gprogressFormat"
            class="profilePercent"
            [nzPercent]="grammarPercent"
          ></nz-progress>
        </div>
      </div>
      <div nz-row nzType="flex" nzJustify="center" class="profileWrongWords">
        <div nz-col nzSpan="24">
          <h3>Sõnad, mille sünonüümide valimisel oled enim eksinud:</h3>
        </div>
      </div>
      <div *ngIf="wrongWords.length == 0">
        Sa pole veel ühtegi viga teinud
      </div>
      <div nz-row nzType="flex" [nzJustify]="wrongWords.length == 3 ? 'center': 'left'" class="profileWrongWordsBox" *ngIf="wrongWords.length>0">
        <div nz-col nzSpan="8" class="box">
          <div nz-row nzType="flex" nzJustify="center" class="white">
            <h3>{{wrongWords[0][1]}} korda</h3>
          </div>
          <div nz-row nzType="flex" nzJustify="center" class="colouredFirst">
            <h3 class="wrongWord"><a class="collapseButton" (click)="collapseWindow(1)">{{wrongWords[0][0] | uppercase}}  <i class="collapseButtonIcon" nz-icon nzType="{{iconType1}}" nzTheme="outline"></i></a></h3>
            <div [style.display]="filtersVisible1 === true ? 'initial' : 'none'" class="collapsible">
              <p>Näitelause, kus tegid vea:</p>
              <p [innerHTML]="wrongWords[0][2][0][0] | underline: wrongWords[0][2][0][1]"></p>
              <p>Te valisite sõna "{{wrongWords[0][2][1]}}"</p>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="8" *ngIf="wrongWords.length>1" class="box">
          <div nz-row nzType="flex" nzJustify="center" class="white">
            <h3>{{wrongWords[1][1]}} korda</h3>
          </div>
          <div nz-row nzType="flex" nzJustify="center" class="colouredSecond">
            <h3 class="wrongWord"><a class="collapseButton" (click)="collapseWindow(2)">{{wrongWords[1][0] | uppercase}}  <i class="collapseButtonIcon" nz-icon nzType="{{iconType2}}" nzTheme="outline"></i></a></h3>
            <div [style.display]="filtersVisible2 === true ? 'initial' : 'none'" class="collapsible">
              <p>Näitelause, kus tegid vea:</p>
              <p [innerHTML]="wrongWords[1][2][0][0] | underline: wrongWords[1][2][0][1]"></p>
              <p>Te valisite sõna "{{wrongWords[1][2][1]}}"</p>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="8" *ngIf="wrongWords.length>2" class="box">
        <div nz-row nzType="flex" nzJustify="center" class="white">
          <h3>{{wrongWords[2][1]}} korda</h3>
        </div>
        <div nz-row nzType="flex" nzJustify="center" class="colouredThird">
          <h3 class="wrongWord"><a class="collapseButton" (click)="collapseWindow(3)">{{wrongWords[2][0] | uppercase}}  <i class="collapseButtonIcon" nz-icon nzType="{{iconType3}}" nzTheme="outline"></i></a></h3>
          <div [style.display]="filtersVisible3 === true ? 'initial' : 'none'" class="collapsible">
            <p>Näitelause, kus tegid vea:</p>
            <p [innerHTML]="wrongWords[2][2][0][0] | underline: wrongWords[2][2][0][1]"></p>
            <p>Te valisite sõna "{{wrongWords[2][2][1]}}"</p>
          </div>
        </div>
      </div>
      </div>
      <div nz-row nzType="flex" nzJustify="center" class="profileWrongWordsBox">
          <div nz-col nzSpan="24">
            <h3>Käänded, millega oled enim eksinud:</h3>
          </div>
      </div>
      <div *ngIf="wrongWordsGrammar.length == 0">
        Sa pole veel ühtegi viga teinud
      </div>
      <div nz-row nzType="flex" [nzJustify]="wrongWordsGrammar.length == 3 ? 'center': 'left'" class="profileWrongWordsBox lower" *ngIf="wrongWordsGrammar.length>0">
        <div nz-col nzSpan="8" class="box">
          <div nz-row nzType="flex" nzJustify="center" class="white">
            <h3>{{wrongWordsGrammar[0][1]}} korda</h3>
          </div>
          <div nz-row nzType="flex" nzJustify="center" class="colouredFirst">
            <h3 class="wrongWord">{{wrongWordsGrammar[0][0] | uppercase}}</h3>
          </div>
        </div>
        <div nz-col nzSpan="8" *ngIf="wrongWordsGrammar.length>1" class="box">
          <div nz-row nzType="flex" nzJustify="center" class="white">
            <h3>{{wrongWordsGrammar[1][1]}} korda</h3>
          </div>
          <div nz-row nzType="flex" nzJustify="center" class="colouredFirst">
            <h3 class="wrongWord">{{wrongWordsGrammar[1][0] | uppercase}}</h3>
          </div>
        </div>
        <div nz-col nzSpan="8" *ngIf="wrongWordsGrammar.length>2" class="box">
          <div nz-row nzType="flex" nzJustify="center" class="white">
            <h3>{{wrongWordsGrammar[2][1]}} korda</h3>
          </div>
          <div nz-row nzType="flex" nzJustify="center" class="colouredFirst">
            <h3 class="wrongWord">{{wrongWordsGrammar[2][0] | uppercase}}</h3>
          </div>
        </div>
      </div>
    </nz-content>
  </nz-layout>
  <nz-footer>
    <button nz-button nzType="default" routerLink="/">Tagasi avalehele</button>
  </nz-footer>
</nz-layout>
<div *ngIf="!authenticated">
  <h2>Te olete välja logitud.</h2>
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col nzSpan="24">
      <button nz-button nzType="default" nzSize="large" routerLink="/">Avalehele</button>
    </div>
  </div>
</div>
