<div class="header">
  <div class="header"><a routerLink="" title="Avalehele">Keelemäng</a>
    <p>Janna-Liina Leemets, 2020</p>
  </div>
  <button *ngIf="authenticated" nz-button nzType="default" id="profileButton" routerLink="/profile">Profiil <i nz-icon nzType="user" nzTheme="outline"></i></button>
  <button *ngIf="authenticated" nz-button nzType="default" routerLink="" (click)="signOut();">Logi välja</button>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>


