.header{
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  width:100%;
  background-color: #484a5c;
  height: 7vh;
  position: sticky;
  padding: 1%;
}

.header a{
  font-weight: 700;
  font-size: large;
  color: white;
  text-decoration: none;
}
#profileButton{
  margin-right: 1vw;
}
