.logIn{
  text-align: center;
  box-sizing: border-box;
  transform: translateY(20%);
}
.logIn button{
  margin:1.5%;
}
.logIn nz-divider{
  background: rgba(72, 74, 92, 0.57);
}
.loggedIn{
  text-align: center;
}
.card {
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 4px -2px #484a5c;
  -moz-box-shadow: 0 4px 4px -2px #484a5c;
  box-shadow: 0 4px 4px -2px #484a5c;
  padding: 20px 12%;
  margin-right: 1%;
}
.mainButtons a{
  color:black;
  text-decoration: none;
  font-weight: 600;
}
.mainButtons a:hover{
  color: rgba(87, 88, 117, 0.89);
}
.sentenceInput{
  margin-bottom: 1.2em;
}
.sentenceInput label{
  font-size: large;
}
#leftCard{
  text-align:right;
  margin-top: 2.5%;
}
#rightCard{
  margin-top: 2.5%;
  text-align: left;
}

