<div *ngIf="!authenticated" class="logIn">
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col nzSpan="16">
      <h1>Oled Keelemängu avalehel.</h1>
    </div>
  </div>
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col nzSpan="10">
      <h2>Keelemäng on Sinule kohanduv veebirakendus eesti keele õppimiseks.
        Siin saad kontrollida ja täiendada oma teadmisi käänete ja sünonüümide vallas.
      </h2>
      <h3 id="mainPageLowerText">Grammatikatestid on Anneliis Hallingu <a href="http://prog.keeleressursid.ee/opimekaandeid/">bakalaureusetööst</a> ja sünonüümitestid on automaatselt genereeritud Keelemängu jaoks.</h3>
      <nz-divider></nz-divider>
    </div>
  </div>
  <div nz-row nzType="flex" nzJustify="center">
      <div nz-col nzSpan="16">
        <h3>Keelemängu kasutamiseks on Sul vaja kasutajat.</h3>
        <h3>Logi sisse või loo kasutaja:</h3>
        <button nz-button nzType="primary" nzSize="large" (click)="signIn()">Logi sisse</button>
      </div>
  </div>
</div>
<div *ngIf="authenticated" class="loggedIn" nz-row nzType="flex" nzJustify="center">
  <div nz-col nzSpan="16">
    <h1>Tere, {{getProfile().name}}</h1>
    <h3>Õppimise alustamiseks vali test ja lausete arv:</h3>
    <div nz-row nzType="flex" nzJustify="center">
      <div nz-col nzSpan="16">
        <nz-radio-group class="sentenceInput" [(ngModel)]="sentenceCount" nzName="sentenceSelection" [nzSize]="'large'">
          <label nz-radio [nzValue]="5">5</label>
          <label nz-radio [nzValue]="10">10</label>
          <label nz-radio [nzValue]="15">15</label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-row nzType="flex" nzJustify="center" class="mainButtons">
      <div nz-col nzSpan="12" id="leftCard">
        <a [routerLink]='["/grammar", sentenceCount]' class="card">Grammatika</a>
      </div>
      <div nz-col nzSpan="12" id="rightCard">
        <a [routerLink]="['/meaning', sentenceCount]" class="card">Sõnatähendused</a>
      </div>
    </div>
  </div>
</div>
