<div *ngIf="authenticated">
  <div *ngIf="!showResults">
    <app-status-bar
      [sentenceCount]="sentenceCount"
      [score]="score"
      [testNr]="testNr"
    ></app-status-bar>
    <div nz-row *ngIf="tests.length>0">
      <app-test-page
        [testQuestion]="tests[testNr][0]"
        [testType]="'grammar'"
        [testWordFormatted]="tests[testNr][1]"
        [testWord]="tests[testNr][2]"
        [testOptions]="tests[testNr][3]"
        [testAnswer]="tests[testNr][4]"
        [testID]="tests[testNr][5]"
        (answeredCorrectly)="saveResult($event)"
        (reportedTest)="deleteTest($event)"
      >
      </app-test-page>
    </div>
  </div>
  <app-result-page *ngIf="showResults"
                   [sentenceCount]="sentenceCount"
                   [score]="score"
                   [ttype]="'grammar'"
                   [tests]="tests"
                   [answers]="answeredTests"
  >
  </app-result-page>
</div>
<div *ngIf="!authenticated">
  <h2>Te olete välja logitud.</h2>
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col nzSpan="24">
      <button nz-button nzType="default" nzSize="large" routerLink="/">Avalehele</button>
    </div>
  </div>
</div>
