<div nz-row nzType="flex" nzJustify="center">
  <div nz-col nzSpan="24">
    <h2>Tulemused:</h2>
  </div>
</div>
<div nz-row nzType="flex" nzJustify="center">
  <div nz-col nzSpan="24">
    <span><h3>Skoor: {{this.score}}/{{this.sentenceCount}}</h3></span>
  </div>
</div>
<div nz-row nzType="flex" nzJustify="center" id="upperButton">
  <div nz-col nzSpan="24">
    <button id="againButton" (click)="refresh()" nz-button nzType="primary" nzSize="large">Mängi uuesti?</button>
  </div>
</div>
<div nz-row nzType="flex" nzJustify="center">
  <div nz-col nzSpan="24">
    <button nz-button nzType="default" nzSize="large" routerLink="/">Avalehele</button>
  </div>
</div>
<nz-table *ngIf="tests.length>0 && answers.length>0" #resultTable
          [nzData]="tests"
          [nzFrontPagination]="false"
          [nzShowPagination]="false"
          class="resultTable"
          [nzNoResult]="'Andmed puuduvad'"
          [nzBordered]="true"
>
  <thead>
  <tr>
    <th>Sõna</th>
    <th>Lause</th>
    <th *ngIf="ttype=='meaning'">Õige sünonüüm</th>
    <th *ngIf="ttype=='grammar'">Õige kääne</th>
    <th>Sinu vastus</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of resultTable.data; let i = index">
    <td>{{ data[2] }}</td>
    <td>{{ data[0] }}</td>
    <td>{{ data[4] }}</td>
    <td>{{ answers[i].given_answer }} <i *ngIf="answers[i].correct" nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i><i *ngIf="!answers[i].correct" nz-icon nzType="close-circle" [nzTheme]="'twotone'" [nzTwotoneColor]="'#dc4036'"></i></td>
  </tr>
  </tbody>
</nz-table>
