/* You can add global styles to this file, and also import other style files */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}

body {
  background: rgb(232,231,254);
  background: -moz-linear-gradient(90deg, rgba(232,231,254,1) 0%, rgba(249,240,251,1) 45%, rgba(198,245,254,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(232,231,254,1) 0%, rgba(249,240,251,1) 45%, rgba(198,245,254,1) 100%);
  background: linear-gradient(90deg, rgba(232,231,254,1) 0%, rgba(249,240,251,1) 45%, rgba(198,245,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8e7fe",endColorstr="#c6f5fe",GradientType=1);
}
.container{
  position: relative;
  top: 70px;
  /*transform: translateY(-100%);*/
  text-align: center;
}
.ant-progress-outer{
  width: 70% !important;
}
.profilePercent .ant-progress-status-success .ant-progress-bg{
  background: red !important;
}
.profilePercent .ant-progress-status-success .ant-progress-text{
  color:red !important;
}
.ant-table{
  color:#2b2b2b
}
.footer{
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 color: #2b2b2b;
 text-align: center;
}
.header p{
  margin-bottom: 0;
  margin-left: 1%;
  font-size: small;
  color: #e9e8fe;
}
#mainPageLowerText{
  color: rgba(64, 64, 64, 0.9);
}
