<div nz-row nzType="flex" nzJustify="center" id="status">
  <div id="innerStatus">
    <div nz-col nzSpan="12" id="leftStatus">
      <nz-statistic [nzValue]="score" [nzTitle]="'Skoor'" [nzSuffix]="'/ '+this.sentNo"></nz-statistic>
    </div>
    <div nz-col nzSpan="12" id="rightStatus">
      <nz-progress [nzPercent]="nr*100/sentNo" [nzWidth]="80" nzType="circle" [nzFormat]="progressFormat"></nz-progress>
    </div>
  </div>
</div>
