<div class="example">
  <h3 id="sentenceLabel">Näitelause:</h3>
  <h3 id="choicesTitle"><span id="sentence" [innerHTML]="this.question | underline: this.formattedWord"></span>
    <button nzTooltipTitle="Teavita sobimatust lausest" nzTooltipPlacement="right" nz-button nz-tooltip (click)="report()">
      <i nz-icon nzType="exclamation" nzTheme="outline"></i></button>
  </h3>
</div>
<h2 *ngIf="type == 'meaning'">Vali sõnale <b>"{{this.word}}"</b> õige sünonüüm.</h2>
<h2 *ngIf="type == 'grammar'">Mis käändes on sõna <b>"{{this.formattedWord}}"</b>?</h2>
<nz-radio-group [(ngModel)]="answerChoice" nzName="answerSelection">
  <label *ngFor="let option of options" nz-radio [nzValue]="option" class="option">{{option}}</label>
</nz-radio-group>
<div nz-row nzType="flex" nzJustify="center" id="submitButton">
  <span nzTooltipTitle="Vali üks vastustest ja vajuta Edasi" nzTooltipPlacement="bottom" nz-tooltip>
    <button nz-button nzType="default" [nzSize]="'large'" [disabled]="answerChoice== null" (click)="submit()">Edasi <i nz-icon nzType="right"></i></button>
  </span>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Kas oled kindel?" (nzOnCancel)="close()">
  <p>Kas soovid teavitada, et lause <b>"{{this.question}}"</b> on sobimatu?</p>
  <!--p>Sinu praegu pooleliolevad testid lähtestatakse.</p-->
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="close()">Tühista</button>
    <button nz-button nzType="primary" (click)="handleOk()">Saada</button>
  </div>
</nz-modal>
