#choicesTitle{
  padding-bottom:1%;
}
#sentenceLabel{
  padding-top: 1%;
}
#sentence{
  margin-right: 3%;
}
.example{
 color: #56586e;
  background: white;
  border-radius: 15px;
  width:60%;
  margin-left: 20%;
}
.ant-radio-group{
  width:50%;
}
.ant-radio-group h3{
  margin-bottom: 0;
}
nz-divider{
  background: rgba(72, 74, 92, 0.57);
  max-width: 40% !important;
  min-width: 40% !important;
  margin-left: 30%;
}
#submitButton{
  margin-top: 1%;
}
.option {
  font-size: large;
  font-weight: 600;
  color: black;
}
